<div class="flex flex-row mt-10 mb-0">
    <div class="w-1/12"></div>
    <div class="w-10/12 border-b-2 border-slate-100 pb-5">
        <p class="font-semibold text-xs text-black">
            Product Links - {{product.links_count}}
            <span class="font-normal float-right text-zinc-400">
                {{product.state}}
            </span>
        </p>
    </div>
</div>

{% for link in product.links or [] %}

<div class="flex flex-row mt-5">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-xs">
        <a href="{{link}}" class="font-bold text-blue-700" target="_href">
            {{link}}
        </a>
    </div>
</div>

{% endfor %}

<div class="flex flex-row mt-10" id="link-add-button">
    <div class="w-1/12"></div>
    <div class="w-10/12">
        <a title="add product link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="size-5 text-blue-700">
                <path fill-rule="evenodd"
                    d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</div>


<div class="flex flex-row mt-10 hidden" id="link-add-url">
    <div class="w-1/12"></div>
    <div class="w-10/12 font-normal text-xs">
        <input type="search" name="link" value="" placeholder="add product link" autocomplete="off"
            hx-get="/products/{{product.id}}/links/add" hx-target="#links-table" hx-trigger="search"
            class="search-primary px-0 py-2.5 mx-0 h-full w-full bg-transparent border-b border-black outline outline-0 transition-all focus:border-b focus:border-black focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
    </div>
</div>


<script>
    document.getElementById("link-add-button").addEventListener("click", (event) => {
        event.preventDefault()
        document.getElementById("link-add-button").classList.add("hidden")
        document.getElementById("link-add-url").classList.remove("hidden")
    })
</script>