{% extends "base.html" %}

{% block content %}

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-1/12">
        <a href="{{ referer_path }}" class="text-xs text-blue-700 font-bold">
            back
        </a>
    </div>
    <div class="w-8/12 justify-center">
        <div class="flex flex-col">
            <h3 class="mx-auto font-bold">
                {{ app_name }}
            </h3>
            <div class="mt-2 mx-auto text-xs text-zinc-400">
                @{{ app_version }}
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col mx-auto mt-5 w-full" id="product-data">
    {% include "products/edit_data.html" %}
</div>

<div class="flex flex-col mx-auto mb-20 mt-5 w-full" id="images-table">
    {% include "products/edit_images.html" %}
</div>

<script>
    // listen on parent element since child elements are replaced on update
    const parent = document.getElementById("product-data")

    parent.addEventListener("keyup", (event) => {
        document.getElementById("product-status").classList.add("text-amber-400")
        document.getElementById("product-status").innerText = "changes detected, not saved"
    })
</script>

{% endblock %}