{% extends "base.html" %}

{% block content %}

<div class="flex flex-row mx-auto mt-10">
    <div class="w-2/12"></div>
    <div class="w-8/12 justify-center">
        <div class="flex flex-col">
            <h3 class="mx-auto font-bold">
                {{ app_name }}
            </h3>
            <div class="mt-2 mx-auto text-xs text-zinc-400">
                @{{ app_version }}
            </div>
        </div>
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-xs">
        <a href="/products" class="text-blue-700 font-bold">
            products
        </a>
        &nbsp;
        /&nbsp;
        <a href="/products/{{product.id}}" class="text-blue-700 font-bold">
            {{product.id}}
        </a>
        &nbsp;/&nbsp;
        edit
    </div>
</div>

<div class="flex flex-col mx-auto mt-20 w-full" id="product-data">
    {% include "products/edit_data.html" %}
</div>

<div class="flex flex-col mx-auto mt-5 w-full" id="links-table">
    {% include "products/edit_links.html" %}
</div>

<div class="flex flex-col mx-auto mb-40 mt-5 w-full" id="images-table">
    {% include "products/edit_images.html" %}
</div>

{% if product.publishable == 1 %}
<form action="/products/{{product.id}}/publish">
    <div class="flex justify-center mx-auto mt-20 mb-40">
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 me-2 mb-2 hover:bg-blue-700 focus:outline-none">
            Publish
        </button>
    </div>
</form>
{% endif %}

<script>
    // listen on parent element since child elements are replaced on update
    const data_container = document.getElementById("product-data")

    data_container.addEventListener("keyup", (event) => {
        document.getElementById("product-status").classList.add("text-sky-500")
        document.getElementById("product-status").innerText = "changes detected"
    })
</script>

{% endblock %}