{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="mx-auto font-bold">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-xs">
        users
        &nbsp;
        /&nbsp;
        <a href="/users/{{user_profile.id}}/profile" class="text-blue-700 font-bold">
            {{user_profile.handle}}
        </a>
        &nbsp;/&nbsp;
        link
        &nbsp;/&nbsp;
        {{link_name}}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-sm/6">
        Create or update a grailed listing and add the value <span
            class="font-bold text-orange-600">{{key_value}}</span> anywhere in the description.&nbsp;&nbsp;Make sure the
        listing is published,
        then enter the complete url below and click the button to verify the data.
    </div>
</div>

<form id="verify-form" hx-get="/users/{{user_profile.id}}/verify/grailed" hx-target="#verify-status">
    <div class="flex mx-auto mt-10">
        <div class="flex font-normal mx-auto text-xs">
            <input type="text" name="url" value="" placeholder="{{key_prompt}}" autocomplete="off" required
                class="peer px-0 py-2.5 h-full text-center min-w-80 border-b bg-transparent text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-600 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
        </div>
    </div>

    <div class="flex mx-auto mt-10">
        <div class="flex mx-auto font-normal text-xs mx-2">
            <button type="submit" id="verify-button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 me-2 mb-2 hover:bg-blue-700 focus:outline-none">
                Verify
            </button>
        </div>
    </div>
</form>

<div>
    <div class="flex mx-auto mt-10">
        <div class="flex mx-auto font-bold text-sm text-red-700 mx-2" id="verify-status">

        </div>
    </div>
</div>

<script>
    const button = document.getElementById("verify-button")

    if (button) {
        button.addEventListener("click", function () {
            document.getElementById("verify-status").innerHTML = ""
        })
    }
</script>

{% endblock %}