{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-auto mt-10">
    <h3 class="mx-auto font-bold">
        {{ app_name }}
    </h3>
    <div class="mt-2 mx-auto text-xs text-zinc-400">
        @{{ app_version }}
    </div>
</div>

<div class="flex flex-row mx-auto mt-10">
    <div class="w-1/12"></div>
    <div class="w-10/12 text-sm/6">
        <p class="mt-10">
            Sustainable fashion encompasses the creation and consumption of clothing in a way that minimizes
            environmental and social impacts, promoting ethical practices throughout the supply chain. It aims for a
            fashion industry that is environmentally responsible, socially just, and economically viable. This includes
            using sustainable materials, ethical production practices, and promoting circularity through recycling,
            upcycling, and extending the lifespan of garments.
        </p>
        <p class="mt-5">
            This site focuses on recycling, upcycling, and extending the lifespan of garments by providing an authentic
            environment for discovery, re-sale, borrowing, trading of used garments. It aims to reduce the friction that
            exists today, and relies heavily on individuals with integrity, character, and solid reputations.
        </p>
        <p class="mt-5">
            Reach out on <a href="https://www.instagram.com/swrecked" target="_blank"
                class="text-blue-600 font-bold">instagram</a> with any inquiries.
        </p>
    </div>
</div>

{% endblock %}